{% extends 'base.html' %}

{% block content %}

    <div class="row">
    {% for post in posts %}
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <div>
                        <img src="{{post.user.thumbnail.url}}">
                        <h5 class="card-title">{{ post.user.username }}</h5>
                        <p>{{post.created_at}}</p>
                    </div>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Изображение поста">
                    {% endif %}
                    <p class="card-text" id="post1Text">
                        {{post.description}}
<!--                        <span class="collapse" id="collapsePost1">-->
<!--              Полное описание поста 1, которое отображается при нажатии на "Читать дальше".-->
<!--            </span>-->
<!--                        <a href="#collapsePost1" class="btn btn-link" data-toggle="collapse" aria-expanded="false"-->
<!--                           aria-controls="collapsePost1">Читать дальше</a>-->
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
