{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar-container text-center">
                        <i class="bi bi-eye"></i>
                        {% if user == profile %}
                        <i class="bi bi-camera" id="avatarEdit"></i>
                        {% endif %}
                        <img src="{{profile.thumbnail.url}}" class="avatar" style="width: 100px; height: 100px;">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title mt-3">{{ profile.username }}</h5>
                        {% if user == profile %}
                        <i class="bi bi-pencil" id="textEdit"></i>
                        {% endif %}
                        {% if profile.profile_description %}
                        <p class="card-text">{{ profile.profile_description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        {% if profile.posts %}
            {% include 'partials/post.html' with posts=profile.posts %}
        {% endif %}
    </div>
</div>
    {% if user == profile %}

        {% include 'modals/avatar.html' %}

        {% include 'modals/avatar_update.html' %}

        {% include 'modals/profile_text.html' %}

    {% endif %}

{% endblock %}



